# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Node
node_modules
spotizerr-ui/node_modules
npm-debug.log
pnpm-lock.yaml

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
env/
.env.example

# Editor/OS
.vscode
.idea
.DS_Store
*.swp

# Application data
credentials.json
test.py
downloads/
creds/
Test.py
prgs/
flask_server.log
test.sh
routes/__pycache__/*
routes/utils/__pycache__/*
search_test.py
config/main.json
.cache
config/state/queue_state.json
output.log
queue_state.json
search_demo.py
celery_worker.log
static/js/*
logs/
data
tests/
