/credentials.json
/test.py
/venv
/downloads/
/incomplete-downloads/
/creds/
/Test.py
/prgs/
/flask_server.log
/routes/__pycache__/
routes/utils/__pycache__/
test.sh
/.pytest_cache
__pycache__/
routes/__pycache__/__init__.cpython-312.pyc
routes/__pycache__/credentials.cpython-312.pyc
routes/__pycache__/search.cpython-312.pyc
routes/utils/__pycache__/__init__.cpython-312.pyc
routes/utils/__pycache__/credentials.cpython-312.pyc
routes/utils/__pycache__/search.cpython-312.pyc
routes/utils/__pycache__/__init__.cpython-312.pyc
routes/utils/__pycache__/credentials.cpython-312.pyc
routes/utils/__pycache__/search.cpython-312.pyc
routes/utils/__pycache__/credentials.cpython-312.pyc
routes/utils/__pycache__/search.cpython-312.pyc
routes/utils/__pycache__/__init__.cpython-312.pyc
routes/utils/__pycache__/credentials.cpython-312.pyc
routes/utils/__pycache__/search.cpython-312.pyc
search_test.py
config/main.json
.cache
config/state/queue_state.json
output.log
queue_state.json
search_demo.py
celery_worker.log
logs/spotizerr.log
/.venv
static/js
data
logs/
.env
Test.py
spotizerr-ui/dev-dist
celerybeat-schedule
data.*/
3.1.0.md
3.0.6.md
3.1.2.md
sqltree.sh
3.1.1.md
